/* Align the cards in a flex container */
.allRecipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* This will space out the cards evenly */
    gap: 20px; /* This replaces 'column-gap' and also provides a gap in rows */
}

/* Add the hover effect for the card */
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly larger shadow to lift the card */
    transform: scale(1.02); /* Slightly scale up the card */
}

/* Ensure cards are of equal height */
.card {
    display: flex;
    flex-direction: column;
    background-color: #dcecec;
    border-radius: 1.6em;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    height: 100%; /* This will make sure that all cards are the same height */
}

/* Make sure the image covers the area properly and has a consistent aspect ratio */
.card img {
    width: 100%; /* full width */
    height: 180px; /* fixed height, you can adjust as needed */
    object-fit: cover; /* cover the container without stretching the image */
}

/* Adjust the flexbox for the card body */
.card-body {
    display: flex;
    flex-direction: column;
    padding: 16px;
    flex-grow: 1; /* Grow to use up available space, pushing the button down */
    justify-content: space-between; /* Space between title/description and button */
}

/* Fix the button to the bottom of the card */
.btn-outline-secondary {
    align-self: center; /* Center the button */
    margin-top: auto; /* Push the button to the bottom */
    border-color: #a8d1d1;
    color: #a8d1d1;
    margin-bottom: 16px; /* Margin at the bottom */
    width: fit-content; /* Fit the content's width */
}

/* Use media queries to adjust the number of columns */
@media (max-width: 768px) {
    .allRecipes {
        justify-content: center; /* Center the cards for small screens */
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .allRecipes {
        justify-content: space-around; /* Adjust spacing for medium screens */
    }
}
