.search-container {
    position: relative;
    background: url('/assets/images/background.jpeg') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 100px 20px; 
  }
  
  .search-container h1 {
    font-size: 3em; 
    color: #fff; 
    margin-bottom: 20px;
  }
  
  .search-input {
    padding: 10px;
    width: 50%; 
    margin-bottom: 20px;
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: #a8d1d1; 
    border: none;
    color: white;
    cursor: pointer;
  }
  