<footer class="text-center text-lg-start" style="background-color: #a8d1d1;">
  <div class="container p-4" style="display: flex; align-items: center; justify-content: space-between;">
    <div class="image-container" style="flex-basis: 100px; margin-right: 70px; margin-left:0;"> <!-- Increased margin-right here -->
      <img src="/assets/images/reciperise.png" style="width: 130px; height: 130px;">
    </div>
    
    <div class="text-links-container" style="display: flex; justify-content: space-between; width: calc(100% - 140px);"> <!-- Adjusted width calculation here -->
      <div class="col mb-4 mb-md-0" style="margin-right: 30px;">
        <h5 class="text-uppercase">RecipeRise</h5>
        <p>
          Discover and share your favorite recipes with the world. RecipeRise - your go-to recipe sharing platform.
        </p>
      </div>

      <div class="col mb-4 mb-md-0" style="margin-right: 30px;">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="#!" class="text-dark">About Us</a></li>
          <li><a href="#!" class="text-dark">Contact</a></li>
          <li><a href="#!" class="text-dark">Terms of Service</a></li>
          <li><a href="#!" class="text-dark">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col mb-4 mb-md-0">
        <h5 class="text-uppercase">Contact</h5>
        <ul class="list-unstyled">
          <li><span>Email: info&#64;reciperise.com</span></li>
          <li><span>Phone: +123 456 7890</span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 RecipeRise. All rights reserved.
  </div>
</footer>
