<footer class="text-center text-lg-start" style="background-color: #a8d1d1;">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">RecipeRise</h5>
          <p>
            Discover and share your favorite recipes with the world. RecipeRise - your go-to recipe sharing platform.
          </p>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="#!" class="text-dark">About Us</a></li>
            <li><a href="#!" class="text-dark">Contact</a></li>
            <li><a href="#!" class="text-dark">Terms of Service</a></li>
            <li><a href="#!" class="text-dark">Privacy Policy</a></li>
          </ul>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact</h5>
          <ul class="list-unstyled">
            <li><span>Email: info@reciperise.com</span></li>
            <li><span>Phone: +123 456 7890</span></li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 RecipeRise. All rights reserved.
    </div>
  </footer>
  
