<nav class="navbar navbar-expand-lg" style="background-color: #a8d1d1;">
  <div class="container-fluid">
      <a class="navbar-brand h1" >RecipeRise</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/recipe-list/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Cuisines
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/cuisines/Mexican">Mexican</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" routerLink="/cuisines/Italian">Italian</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" routerLink="/cuisines/Chinese">Chinese</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" routerLink="/cuisines/Indian">Indian</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" routerLink="/cuisines/Japanese">Japanese</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" routerLink="/cuisines/Turkish">Turkish</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" routerLink="/cuisines/American">American</a></li>
                </ul>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Profile
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" (click)="logout()">Log Out</a></li>
                      <li><a class="dropdown-item" routerLink="/profile-page">My Profile</a></li>
                      <li><a class="dropdown-item" routerLink="/saved-recipes">Saved Recipes</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" routerLink="/add-recipe">Add a recipe</a></li> 
                  </ul>
              </li>
          </ul>
          <form class="d-flex" role="search" (submit)="onSearch(); $event.preventDefault()">
            <input class="form-control me-2" type="search" [(ngModel)]="searchQuery" name="searchQuery" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
  </div>
</nav>

