<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <!-- Profile Sidebar -->
        <div class="col-md-4">
            <div class="profile-sidebar">
                <div class="d-flex align-items-center">
                    <div class="profile-userpic my-3">
                        <img width="170px" height="170px" src="/assets/images/ProfilePicture.png" class="img-fluid rounded-circle" alt="User Image" id="selectedProfilePic">
                    </div>
                      <div class="profile-usertitle ms-3">
                        <div class="profile-usertitle-name">
                            <h1>Hi, {{username}} </h1>
                        </div>
                    </div>
                </div>
                <input type="file" accept="image/*" id="profilePictureInput" style="display: none;" (change)="onFileSelect($event)">
                <button type="button" class="changeButton" (click)="openFileSelector()">
                    Change Profile Picture
                </button>
                <nav class="profile-usermenu">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" (click)="showSection('public-profile')">My Recipes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" (click)="showSection('change-password')">Change Password</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" (click)="confirmAccountDeletion()">Delete Account</a>
                    </li>
                  </ul>
                </nav>
            </div>
        </div>
         <!-- Profile Content -->
          <div class="col-md-8">
            <div class="profile-content" id="content-section">
            
            <div *ngIf="activeSection === 'public-profile'">
              <h2>My Recipes</h2>
              <div *ngIf="recipes.length > 0; else noRecipesTemplate">
                
              <div *ngFor="let recipe of recipes" class="card my-3" style="background-color: #dcecec">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img [src]="getFullImageUrl(recipe.image)" alt="Recipe image" class="img-fluid rounded-start" style="height: 250px; object-fit: cover;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ recipe.title }}</h5>
                      <p class="card-text">{{ truncateInstructions(recipe.instructions) }}</p>
                      <p class="card-text">Cuisine: {{ recipe.cuisine_name }}</p>
                      <a [routerLink]="['/recipes', recipe.id]" class="btn btn-outline-secondary">
                        View Recipe
                      </a>                      
                    </div>
                  </div>
                </div>
              </div>

              </div>

                <ng-template #noRecipesTemplate>
                  <p>You have not added any recipes yet.</p>
                </ng-template>
             
            </div>

            <div *ngIf="activeSection === 'change-password'">
              <h2>Change Password</h2>
              <p>Secure your account by updating your password regularly.</p>
              <form id="change-password-form " (ngSubmit)="changePassword(currentPassword, newPassword, confirmPassword)">
                <div class="form-group">
                  <label for="currentPassword">Current Password*</label>
                  <input type="password" class="form-control" id="currentPassword" [(ngModel)]="currentPassword" name="currentPassword" required>
                </div>
                <div class="form-group">
                  <label for="newPassword">New Password*</label>
                  <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
                </div>
                <div class="form-group">
                  <label for="confirmPassword">Confirm New Password*</label>
                  <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
                </div>
                <button type="submit" class="btn">Change Password</button>
              </form>
            </div>

            </div>
            </div> 
    </div>
</div>
<app-footer></app-footer>
</body>
</html>
