.profile-userpic img {
    width: 170px;
    height: 170px;
    object-fit: cover; 
}

.changeButton {
    background-color: #a8d1d1;
    color: black;
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    width: fit-content;
    height: fit-content;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px 0; 
    display: block; 
    padding: 0.5rem 1rem;
 
}

.profile-usertitle-name{
    font-size: 1.3em;
    width: 100%;
}

.changeButton:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    opacity: 1; 
}


.profile-usermenu .nav-item {
    border-bottom: 1px solid #cccccc; 
    margin: 15px 0 15px 0;
}

.profile-usermenu .nav-link {
    display: block; 
    padding: 0.5rem 1rem; 
    color: black; 
    background-color: white; 
}

.profile-usermenu .nav-link:hover {
    background-color: #f8f9fa; 
}

.profile-usermenu .nav-link.active {
    background-color: #e9ecef;
    color: black; 
    border-radius: 0; 
}

.content-block {
    display: none;   
}

.btn{
    margin: 2em 0 2em 0;
    background-color:#88a4a4;
}
.form-group{
    margin: 30px 0 30px 0;
}

.profile-content h2{
    margin: 40px 0 40px 0;
}

.allRecipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 20px; 
}


.card {
    background-color: #dcecec;
    border-radius: 1.6em;
    overflow: hidden; 
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
}


.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: scale(1.02); 
}


.card-body {
    padding: 16px; 
}

.card-title {
    margin-bottom: 0.5rem; 
}

.card-text {
    color: #333; 
    margin-bottom: 1rem; 
}


.btn-outline-secondary {
    border-color: #a8d1d1;
    color: #a8d1d1;
}

.btn-outline-secondary:hover {
    border-color: #8fb0b2;
    color: #8fb0b2; 
    text-decoration: none; 
}


.profile-picture-frame {
    width: 170px; 
    height: 170px; 
    background-color: #e0e0e0; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.profile-picture-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


