
.recipe-view {
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
  width: 80%;
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;
}

body {
 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

:host {
  display: block;
  min-height: 100vh; 
  background-image: url('/assets/images/bg13.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


h1 {
  color: #333; 
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.current-recipe-image {
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 auto 1rem;
}


.details {
  color: #666;
  font-size: 0.9rem;
  line-height: 1.6;
}


.btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0.5rem;
  background-color: #a8a8a8; 
  color: #ff6b81; 
  border: 2px solid #ff6b81; 
}

.btn-primary{
  background-color:#a8d1d1 ;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.btn-primary:hover {
  background-color: #ff6b81;
  transform: translateY(-2px);
}


.btn-danger {
  background-color: #ff6b81;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.btn-danger:hover {
  background-color: #92bcbc; 
  transform: translateY(-2px);
}

.recipe-details {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  text-align: left;
}


.recipe-details h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  color: #333;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #DADADA; 
  border-radius: 8px;
  font-size: 14px;
  background-color: #FAFAFA; 
}

.image-upload-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.image-upload-container input[type="file"] {
  flex-grow: 1;
}

.image-preview {
  width: 100px;
  height: 100px;
  border: 1px dashed #DADADA;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #FAFAFA; 
}

.img-preview {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}


.btn-success{
  background-color: #a8d1d1;
  color: #333;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-success:hover{
  transform: translateY(-2px);
}
.btn-secondary{
  background-color: #F4A1A1;
  color: #333;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-secondary:hover{
  transform: translateY(-2px);
}

.save-recipe-btn {
  background-color: #d9f0f0; 
  color: #333;
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.3s; 
  display: flex; 
  align-items: center; 
}

.save-recipe-btn svg {
  margin-right: 5px; 
}

.save-recipe-btn:hover {
  background-color: #b8d8d8; 
  transform: scale(1.05); 
}


/* Responsive */
@media (max-width: 768px) {
  .recipe-details {
    width: 90%;
    padding: 10px;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }

  .image-upload-container {
    flex-direction: column;
  }

  .image-upload-container input[type="file"] {
    order: 2; 
    margin-top: 10px;
  }

  .image-preview {
    order: 1; 
  }
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.p-1 {
  padding: 1rem;
}


