<app-navbar></app-navbar>
<div class="container my-4">
  <div class="allRecipes">
    <div *ngIf="recipes.length > 0; else noRecipesTemplate" class="row">
      <div *ngFor="let recipe of recipes" class="col-md-6">
        <div class="card my-3" style="background-color: #dcecec">
          <img [src]="sharedService.getFullImageUrl(recipe.image)" alt="Recipe image" class="card-img-top img-fluid rounded-start" style="height: 250px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">{{ recipe.title }}</h5>
            <p class="card-text">{{ sharedService.truncateInstructions(recipe.instructions) }}</p>
            <p class="card-text">Cuisine: {{ recipe.cuisine_name }}</p>
            <a [routerLink]="['/recipes', recipe.id]" class="btn btn-outline-secondary">View Recipe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noRecipesTemplate>
  <div class="container">
    <div class="row">
      <div class="col">
        <p>No recipes found.</p>
      </div>
    </div>
  </div>
</ng-template>
<app-footer></app-footer>