
.allRecipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
}

.card {
    background-color: #dcecec;
    border-radius: 1.6em;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: scale(1.02); 
}


.card-body {
    padding: 16px; 
}

.card-title {
    margin-bottom: 0.5rem;
}

.card-text {
    color: #333; 
    margin-bottom: 1rem; 
}

.btn-outline-secondary {
    border-color: #a8d1d1;
    color: #a8d1d1;
}

.btn-outline-secondary:hover {
    border-color: #8fb0b2;
    color: #8fb0b2; 
    text-decoration: none; 
}


.card img {
    width: 100%; 
    height: auto; 
}
