<app-navbar></app-navbar>
<mainContainer></mainContainer>
<div class="container my-3">
  <div class="allRecipes">
    <div *ngFor="let recipe of recipes" >
      <div class="card my-3" style="width: 460px; background-color: #dcecec">
        <div class="row g-0">
          <div class="col-md-4 card-img-container">
            <img [src]="getFullImageUrl(recipe.image)" alt="Recipe image" class="card-img img-fluid rounded-start img-responsive" style="height: 250px; object-fit: cover;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ recipe.title }}</h5>
              <p class="card-text"><small class="text-muted">{{ sharedService.truncateInstructions(recipe.instructions) }}</small></p>      
              <p class="card-text">Cuisine: {{ getCuisineNameById(recipe.cuisine_id) }}</p>
              <a [routerLink]="['/recipes', recipe.id]" class="btn btn-large btn-outline-secondary" style="border-color: #a8d1d1;">View Recipe</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noRecipes>
      <div class="alert alert-warning">
        No recipes found.
      </div>
    </ng-template>
  </div>
</div>
<app-footer></app-footer>


